{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "@components": "./src/components/",
          "@icons": "./src/components/UI/Icons",
          "@context": "./src/state/context/CartContext",
          "@constants": "./src/constants",
          "@api": "./src/api/http/axiosApi",
          "@services": "./src/api/services",
          "@hooks": "./src/hooks"
        }
      }
    ]
  ]
}
